<header class='header'>
  <div class='app-name'>toDo</div>
  <div class='header-menu'>
    <div class='mypage'>マイページ</div>
    <div class='logout'>ログアウト</div>
    <div class='plus-button'>
      <%= link_to "＋", new_plan_path %>
    </div>
  </div>
</header>
<div class='new-plan'>
  <%= form_with model: @plan, local: true do |f|%>
    <div class='new-plan-form'>
      行動の追加
      <div class='new-plan-title'>
        <%= f.label :title, 'タスク名' %><br />
        <%= f.text_field :title, class: 'new-plan-title-form', placeholder: 'タスク名を入力してください'%>
      </div>
      <div class='new-plan-text'>
        <%= f.label :text, 'タスク内容' %><br />
        <%= f.text_area :text, class: 'new-plan-text-form', placeholder: 'タスク内容を入力してください'%>
      </div>
      <div class='new-plan-category'>
        <%= f.label :category_id, 'カテゴリー' %><br />
        <%= f.select :category_id, {'自宅': 1, '会社': 2, '遊び': 3, 'その他': 4}, { include_blank: '選択してください'}%>
      </div>
      <div class='new-plan-date'>
        <%= f.label :date, '日時' %><br />
        <%= f.date_field :date %>
      </div>
      <div class='new-plan-time'>
        <%= f.label :time, '時間' %><br />
        <%= f.time_field :time %>
      </div>
      <div class="actions">
        <%= f.submit "保存する", class: :form__btn  %>
      </div>
    </div>
  <% end %>
</div>